<section class="headings">
  <div class="text-heading text-center">
    <div class="container">
      <h1>Find Houses</h1>
    </div>
  </div>
</section>

<div id="login">
  <div class="login">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="alert alert-success" *ngIf="isloggedin">
        <span class="form-success">logged in successfully!</span>
      </div>
      <div class="form-group">
        <label>Your Email</label>
        <input
          class="form-control"
          name="email"
          type="email"
          ngModel
          email
          required
          #email="ngModel"
        />
        <span *ngIf="!email.valid && email.touched">Email Is Requried</span>
      </div>
      <div class="form-group">
        <label>Your password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password1"
          ngModel
          email
          required
          minlength="7"
          #password="ngModel"
        />
        <span *ngIf="!password.valid && password.touched"
          >Password is Required</span
        >
      </div>
      
      <div id="pass-info" class="clearfix"></div>
      <button
        type="submit"
        class="btn_1 rounded full-width add_top_30"
        [disabled]="!f.valid"
      >
        Login now!
      </button>
      <div class="text-center add_top_10">
        Don`t have an Account?
        <strong
          ><a style="cursor: pointer" routerLink="/signup">Sign Up</a></strong
        >
      </div>
    </form>
  </div>
</div>
