<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>
</ngx-spinner> -->
<div class="bg-image">
  <section class="vh-100">
    <div class="container py-5 h-200">
      <div class="row d-flex align-items-center justify-content-center h-200">
        <div class="col-md-8 col-lg-7 col-xl-5">
          <img
            src="../../../assets/Clientassets/images/popular-places/18.png"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="login">
          <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
            <!-- (ngSubmit)="onSubmit(f)" #f="ngForm" -->
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Full Name</label>
              <input
                id="form1Example13"
                class="form-control form-control-lg"
                name="name"
                type="text"
                formControlName="name"
              />
              <div
                *ngIf="
                  contactform.get('name')?.invalid &&
                  contactform.get('name')?.touched
                "
                style="color: red"
              >
                <div *ngIf="contactform.get('name')?.errors?.['required']">
                  Name is required
                </div>
                <div *ngIf="contactform.get('name')?.errors?.['pattern']">Name should contain only alphabets and spaces.</div>
                <div  *ngIf="contactform.get('name')?.errors?.['minLength']">Name should have minlength of 4 character</div>
              </div>
            </div>    
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example14"
                >Email address</label
              >
              <input
                id="form1Example14"
                class="form-control form-control-lg"
                name="email"
                type="email"
                formControlName="email"
              />
              <div
              *ngIf="
                contactform.get('email')?.invalid &&
                contactform.get('email')?.touched
              "
              style="color: red"
            >
              <div *ngIf="contactform.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div *ngIf="contactform.get('email')?.errors?.['email']">
               Please Enter a valid email!
               </div>
              
            </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Number</label>
              <input
                type="number"
                id="form1Example23"
                class="form-control form-control-lg"
                name="number"
                id="password1"
                formControlName="number"
              />
              <div
              *ngIf="
                contactform.get('number')?.invalid &&
                contactform.get('number')?.touched
              "
              style="color: red"
            >
              <div *ngIf="contactform.get('number')?.errors?.['required']">
                Contact number is required.
              </div>
              <div *ngIf="contactform.get('number')?.errors?.['pattern']">
                Contact number should contain exactly 10 digits.  
               </div>
              
            </div>
              
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example24">Reference</label>
              <input
                type="text"
                id="form1Example24"
                placeholder="Where you got refernces?"
                class="form-control form-control-lg"
                name="reference"
                formControlName="reference"
              />
              <div
              *ngIf="
                contactform.get('reference')?.invalid &&
                contactform.get('reference')?.touched
              "
              style="color: red"
            >
              <div *ngIf="contactform.get('reference')?.errors?.['required']">
                Reference is required.
              </div>
              
              
            </div>

             
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example25">Message</label>
              <textarea
                class="form-control form-control-lg"
                name="message"
                id="form1Example25"
                cols="50"
                rows="2"
                formControlName="message"
              >
              </textarea>

              <div
              *ngIf="
                contactform.get('message')?.invalid &&
                contactform.get('message')?.touched
              "
              style="color: red"
            >
              <div *ngIf="contactform.get('message')?.errors?.['required']">
                Message is required.
              </div>
              
              
            </div>
            </div>
            <!-- Submit button -->
            <div id="pass-info" class="clearfix"></div>
            <button
              type="submit"
              class="btn-primary btn-lg btn-block"
              [disabled]="contactform.invalid && !buttonClicked"
            >
              contact us
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
