<section class="recently portfolio bg-white-3" >
  <div class="container-fluid recently-slider">
    <div class="section-title">
      <h3>Recent</h3>
      <h2>Recent Properties</h2>
    </div>
    <h1>hello</h1>
    <div class="row portfolio-items myproperty" >
      <div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale" *ngFor="let property of properties">
        <div class="project-single">
          <div class="listing-item compact" >
            <a [routerLink]="['/propertydetail/',property._id]" class="listing-img-container">
              <div class="listing-badges">
                <span class="featured">{{property.price}}</span>
                <span>{{property.status}}</span>
              </div>
              <div class="listing-img-content">
                <span class="listing-compact-title"> <i></i></span>
                <ul class="listing-hidden-content blue">
                  <li>Size <span>{{property.area}} ft</span></li>
                  <li>{{property.city}}<span>1</span></li>
                  <li>Beds <span>{{property.bed}}</span></li>
                  <li>Baths <span>{{property.bath}}</span></li>
                </ul>
              </div>
              <img
                src={{property.image}}
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
