<section class="recently portfolio bg-white-3">
  <div class="container-fluid recently-slider">
    <div class="section-title">
      <h3>Recent</h3>
      <h2>Recent Properties</h2>
    </div>
    <h1>hello</h1>
    <div class="row portfolio-items myproperty">
      <div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">
        <div class="project-single">
          <div class="listing-item compact">
            <a href="" class="listing-img-container">
              <div class="listing-badges">
                <span class="featured">340000</span>
                <span>sell</span>
              </div>
              <div class="listing-img-content">
                <span class="listing-compact-title"> <i></i></span>
                <ul class="listing-hidden-content blue">
                  <li>Size <span>67000 ft</span></li>
                  <li>bhavnagar<span>1</span></li>
                  <li>Beds <span>2</span></li>
                  <li>Baths <span>3</span></li>
                </ul>
              </div>
              <img
                src="../../assets/Clientassets/images/feature-properties/fp-10.jpg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
