<section
  id="hero-area"
  class="parallax-searchs home17 overlay"
  data-stellar-background-ratio="0.5"
>
  <div class="hero-main">
    <div class="container">
      <div class="banner-inner-wrap">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center">Find Your Dream Home</h1>
              <h5 class="sub-title text-center">
                We Have Over Million Properties For You
              </h5>
            </div>
          </div>
          <!-- Search Form -->
          <div class="col-12">
            <div class="banner-search-wrap">
              <ul class="nav nav-tabs rld-banner-tab">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href=""
                    >For Buy</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs_1">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="rld-single-select ml-22">
                        <select class="select single-select">
                          <option value="1">Property Type</option>
                          <option value="2">Family House</option>
                          <option value="3">Apartment</option>
                          <option value="3">Condo</option>
                        </select>
                      </div>
                      <div class="rld-single-select">
                        <select class="select single-select mr-0">
                          <option value="1">State</option>
                          <option value="2">Gujarat</option>
                          <option value="3">Maharastra</option>
                          <option value="4">punjab</option>
                        </select>
                      </div>
                      <div class="rld-single-select">
                        <select class="select single-select mr-1">
                          <option value="1">city</option>
                          <option value="2">surat</option>
                          <option value="3">Ahmedabad</option>
                        </select>
                      </div>

                      <div class="rld-single-select">
                        <select class="select single-select mr-1">
                          <option value="1">Status</option>
                          <option value="2">sell</option>
                        </select>
                      </div>

                      <div class="col-xl-2 col-lg-2 col-md-4 pl-0 mx-4">
                        <a class="btn btn-yellow" href="#">Search Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ End Search Form -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- START SECTION RECENTLY PROPERTIES -->
<app-property></app-property>
<!-- END SECTION RECENTLY PROPERTIES -->

<!-- START FOOTER -->
<app-footer></app-footer>
<!-- END FOOTER -->
